@page
@model FinalProjectSpotifyVisualizer.Pages.FormPageModel
@{
	ViewData["Title"] = "Data Form";
}

<p>Fill out form with data you would like to enter</p>
<form class="data-collection-options" method="post">
	<h2>Personal Information</h2>
	<div class="form-check-top">
		<input class="form-check-top-input" type="checkbox" asp-for="Checked.PersonalTopArtists" id="topArtists"/>
		<label class="form-check-top-input" for="topArtists">Top Artists</label>
		<input class="form-check-top-input" type="checkbox" asp-for="Checked.PersonalTopSongs" id="topSongs"/>
		<label class="form-check-top-input" for="topSongs">Top Songs</label>
		<input class="form-check-top-input" type="checkbox" asp-for="Checked.PersonalTopGenres" id="topGenres"/>
		<label class="form-check-top-input" for="topGenres">Top Genres</label>
	</div>
	<h2>Global Data</h2>
	<div class="check-global">
		<input class="check-global-input" type="checkbox" asp-for="Checked.GlobalTopArtists" id="topArtistsGlobal"/>
		<label class="check-global-input" for="topArtistsGlobal">Top Artists</label>
		<input class="check-global-input" type="checkbox" asp-for="Checked.GlobalTopSongs" id="topSongsGlobal"/>
		<label class="check-global-input" for="topSongsGlobal">Top Songs</label>
		<input class="check-global-input" type="checkbox" asp-for="Checked.GlobalTopAlbums" id="topAlbumsGlobal"/>
		<label class="check-global-input" for="topAlbumsGlobal">Top Albums</label>
	</div>
	<button type="submit">Submit</button>
</form>